.bg {
  color: #ffffff;
  background-color: rgba(66, 127, 162, 0.28);
}

.header {
  background-color: inherit;
}

.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
}

.nav__item {
  color: #ffffff;
  font-size: 20px;
}

.section:has(.test__title) {
  padding-top: 40px;
  padding-bottom: 40px;
}
.test__text {
  font-size: 15px;
  line-height: 1.3em;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .test__text {
    font-size: 20px;
  }
}
